<!DOCTYPE html>
<html>
    <head>
        <title>Kook-app</title>
        <!--Angulare -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.2/angular.min.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
        <!--jquery-->
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="main.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body ng-app="kookApp">
         <div ng-controller="kookController">

             <h1>Gerecht toevoegen</h1>
             <div class="gerechtToevoegen">
                <p>
                 <h3><a href="" ng-click="showDetailst = ! showDetailst">
                       Gerechtnaam
                    </a></h3>
                </p>
                <p ng-show="showDetailst" class="test">

                    <h3>Ingredienten</h3>
                    <input type="text" ng-model="ingredientenLijst" placeholder="Voeg de ingredienten toe">
                    <button ng-click="addIngredient(ingredientenLijst)">Add</button>
                    <div>
                        <label ng-repeat="ingredient in ingredienten" style="display:block;">
                            <input ng-click="toggle(ingredient.$value)" type="checkbox" ng-model="ingredient.selected" />
                            {{ingredient.$value}}
                        </label>
                    </div>
                    <button ng-click="addGerecht(nieuwGerecht)">Gerecht toevoegen</button>
                </p>
             </div>

             <div class="aside">
                 <h1>Nieuw gerecht</h1>
                 <input type="text" ng-model="nieuwGerecht.name" placeholder="Naam van het gerecht">
                 <h2>Naam</h2>
                 {{nieuwGerecht.name}}
                 <h2>Ingredienten</h2>
                 <ul>
                     <li ng-repeat="item in selected">
                         {{item}}
                     </li>
                 </ul>
             </div>




            <div>
                <h1>Alle gerechten incl ingredienten</h1>
                <ul>
                    <li ng-repeat="gerecht in gerechten">
                        <a ng-click="showDetails = ! showDetails" href="">{{ gerecht.name }}</a>
                        <ul>
                            <li ng-repeat="ingredient in gerecht.ingredienten" ng-show="showDetails">
                                {{ingredient}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>




             <div class="gerechtToevoegen">
                 <h1>Gerechtenplanner</h1>
                 <input type="text" ng-model="nieuwPlanner.name" placeholder="Naam van de Planner" />
                 <p>
                     <h3>Gerechtnaam</h3>
                     <input type="text" placeholder="Zoek een gerecht">

                     <div>
                         <label ng-repeat="gerecht in gerechten" style="display:block;">
                             <input ng-click="toggle(gerecht.name, 'gerechtPlanner')" type="checkbox"/>
                             {{gerecht.name}}
                         </label>
                     </div>
                    <button ng-click="addPlanner(nieuwPlanner)">Gerechten aan planner toevoegen</button>
                 </p>
             </div>

             <div class="aside">
                 <h1>Nieuwe planner</h1>
                 <h2>Naam</h2>
                 {{nieuwPlanner.name}}
                 <h2>Gerechten</h2>
                 <ul>
                     <li ng-repeat="item in selectedPlanner">
                         {{item}}
                     </li>
                 </ul>
                 <button ng-click="getShoppingList(nieuwPlanner.name)">Toon boodschappenlijst voor deze planner</button>
             </div>





        </div>
    </body>
</html>