<!DOCTYPE html>
<html>
    <head>
        <title>Kook-app</title>
        <!--Angulare -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.2/angular.min.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>

        <script src="main.js"></script>

    </head>
    <body ng-app="kookApp">
        {{"AngularJS Loaded"}}

         <div ng-controller="kookController">

            <div style="background-color:lightgray;">

                <h1>Gerecht toevoegen</h1>
                <p>
                    <h3>Gerechtnaam</h3>
                    <input type="text" ng-model="nieuwGerecht.name" placeholder="Naam van het gerecht">
                </p>
                <p>
                <h2>{{nieuwGerecht.name}}</h2>
                    <ul>
                        <li ng-repeat="item in selected">
                            {{item.$value}}
                        </li>
                    </ul>
                </p>

                <p>
                    <h3>Ingredienten</h3>
                    <input type="text" ng-model="ingredientenLijst" placeholder="Voeg de ingredienten toe">
                    <button ng-click="addIngredient(ingredientenLijst)">Add</button>

                    <div>
                        <label ng-repeat="ingredient in ingredienten" style="display:block;">
                            <input ng-click="toggle(ingredient)" type="checkbox"/>
                            {{ingredient.$value}}
                        </label>
                    </div>

                    <button ng-click="addGerecht(nieuwGerecht)">Gerecht toevoegen</button>
                </p>

            </div>

            <div>
                <h1>Alle gerechten incl ingredienten</h1>
                <ul>
                    <li ng-repeat="gerecht in gerechten">
                        {{ gerecht.name }}
                        <ul ng-repeat="ingredient in getGerechtIngredienten(gerecht)">
                            <li>
                                {{ingredient}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div>
                <h1>Gerechtenplanner</h1>
                <p>
                    <h3>Gerechtnaam</h3>
                    <input type="text" ng-model="nieuwGerecht.name" placeholder="Zoek een gerecht">
                    <div ng-repeat="gerecht in gerechten">
                        {{gerecht.name}}
                    </div>
                </p>
            </div>
        </div>
    </body>
</html>