<!DOCTYPE html>
<html>
    <head>
        <title>Kook-app</title>
        <!--Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.2/angular.min.js"></script>
        <script src="bower-angular-animate-master/angular-animate.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
        <!--jquery-->
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="main.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app="kookApp">
         <div ng-controller="kookController">
             <span class="groceryBtn-container">
                 <a ng-click="shoppingListExpand = !shoppingListExpand">
                     <h1>{{getGroceryTotal()}}</h1>
                 </a>
            </span>
             <div class="boodschappenLijst" ng-show="shoppingListExpand">
                 <h1>Boodschappen</h1>
                 <div class="shoppingList">
                     <label ng-repeat="boodschap in boodschappen | orderBy:'selected'" ng-class="{'labelDisable' : boodschap.selected};" ng-init="boodschap.selected = false;">
                         <input type="checkbox" ng-model="boodschap.selected"/>
                         {{boodschap.dishName}}
                         <span class="float-right">{{boodschap.gewicht}} gram</span>
                     </label>
                 </div>
                 <p ng-if="boodschappen.length < 1" class="infotext">Uw boodschappenlijst is leeg, voeg gerechten of planners toe</p>
             </div>

             <div class="gerechtToevoegen" ng-show="showModalAddDish">
                 <div class="popup">
                     <span class="close" ng-click="showModalAddDish = !showModalAddDish">x</span>
                     <div class="addDish">

                        <h3>1. Gerechtnaam invoeren</h3>
                        <input type="text" ng-model="nieuwGerecht.name" placeholder="Nasi, Pasta, etc..." class="nameInputField">

                        <h3>2. Ingredienten selecteren </h3>

                         <div class="listSearchWrapper">
                            <input class="searchAndAddField" type="text" ng-model="ingredientenLijst" placeholder="Zoek een ingredient..."/>
                            <button ng-click="addIngredient(ingredientenLijst)">+</button>
                        </div>
                        <div class="ingredientenlijst">
                            <select ng-model="ingredientCatFilter">
                                <option>dairy</option>
                                <option>meat</option>
                            </select>
                            {{ingredientCatFilter}}

                            <div class="ingredientCategory categoryFish">
                                <h3 ng-show="(ingredienten | filter:filterIngredients | filter: { category: 'fish' }).length">Vis</h3>
                                <label ng-repeat="ingredient in ingredienten | orderBy:'name' | filter:filterIngredients | filter: { category: 'fish'}">
                                    <input ng-click="toggle(ingredient, '')" type="checkbox" ng-model="ingredient.selected" />
                                    {{ingredient.name}}
                                </label>
                            </div>
                            <div class="ingredientCategory categoryMeat">
                                <h3 ng-show="(ingredienten | filter:filterIngredients | filter: { category: 'meat' }).length">Vlees</h3>
                                <label ng-repeat="ingredient in ingredienten | orderBy:'name' | filter:filterIngredients | filter: { category: 'meat'}">
                                    <input ng-click="toggle(ingredient, '')" type="checkbox" ng-model="ingredient.selected" />
                                    {{ingredient.name}}
                                </label>
                            </div>
                            <div class="ingredientCategory categoryVeg">
                                <h3 ng-show="(ingredienten | filter:filterIngredients | filter: { category: 'vegetable' }).length">Groente</h3>
                                <label ng-repeat="ingredient in ingredienten | orderBy:'name' | filter:filterIngredients | filter: { category: 'vegetable'}">
                                    <input ng-click="toggle(ingredient, '')" type="checkbox" ng-model="ingredient.selected" />
                                    {{ingredient.name}}
                                </label>
                            </div>
                            <div class="ingredientCategory categoryFruit">
                                <h3 ng-show="(ingredienten | filter:filterIngredients | filter: { category: 'fruit' }).length">Fruit</h3>
                                <label ng-repeat="ingredient in ingredienten | orderBy:'name' | filter:filterIngredients | filter: { category: 'fruit'}">
                                    <input ng-click="toggle(ingredient, '')" type="checkbox" ng-model="ingredient.selected" />
                                    {{ingredient.name}}
                                </label>
                            </div>
                            <div class="ingredientCategory categoryDairy">
                                <h3 ng-show="(ingredienten | filter:filterIngredients | filter: { category: 'dairy' }).length">Zuivel</h3>
                                <label ng-repeat="ingredient in ingredienten | orderBy:'name' | filter:filterIngredients | filter: { category: 'dairy'}">
                                    <input ng-click="toggle(ingredient, '')" type="checkbox" ng-model="ingredient.selected" />
                                    {{ingredient.name}}
                                </label>
                            </div>
                            <div class="ingredientCategory categoryOther">
                                <h3 ng-show="(ingredienten | filter:filterIngredients | filter: { category: 'other' }).length">Overig</h3>
                                <label ng-repeat="ingredient in ingredienten | orderBy:'name' | filter:filterIngredients | filter: { category: 'other'}">
                                    <input ng-click="toggle(ingredient, '')" type="checkbox" ng-model="ingredient.selected" />
                                    {{ingredient.name}}
                                </label>
                            </div>
                        </div>
                     </div>
                     <div class="aside">

                         <h3>3. Resultaat bekijken</h3>
                         <h1>{{nieuwGerecht.name}}</h1>
                         <h4>Ingredienten</h4>
                         <div>
                             <span class="ingredientBlock" ng-repeat="ingredient in selected">{{ingredient.name}}</span>
                         </div>
                         <table>
                             <tr ng-repeat="item in selected">
                                 <td>{{item.name}}</td>
                                 <td><input type="text" ng-model="item.gewicht" placeholder="100, 250, etc..." /> gram</td>
                             </tr>
                         </table>
                         <ul class="ingredientResult">
                             <li ng-repeat="item in selected">
                                 {{item.$value}}
                             </li>
                         </ul>
                         <input type="checkbox" ng-model="savedGerecht"/>
                         <button ng-click="addGerecht(nieuwGerecht)" ng-disabled="checkAddDish(nieuwGerecht)" class="gerechtToevoegenButton">Gerecht toevoegen</button>
                         <div class="notification" ng-show="savedGerecht" class="notification-show-hide">note</div>
                     </div>

                 </div>

             </div>

             <div class="gerecht" ng-show="showModalDish">
                 <div class="popup">
                     <span class="close" ng-click="showModalDish = !showModalDish">x</span>
                     <div class="aside">

                         <div class="dishImage"></div>
                         <h1>{{selectedDish.name}}</h1>
                         <h4>Ingredienten</h4>
                         <div>
                             <span class="ingredientBlock" ng-repeat="ingredient in selectedDish.ingredienten">{{ingredient.dishName}}</span>
                         </div>
                         <table class="ingredientsTable">
                             <tr ng-repeat="item in selectedDish.ingredienten">
                                 <td>{{item.dishName}}</td>
                                 <td>
                                     <input type="text" ng-model="item.gewicht" placeholder="100, 250, etc..." />
                                     <span class="unit">gram</span>
                                 </td>
                             </tr>
                         </table>
                         <input type="checkbox" ng-model="savedGerecht" ng-hide="true"/>
                         <button ng-click="saveGerecht(selectedDish)" ng-disabled="checkEditDish(selectedDish)" class="gerechtToevoegenButton">Wijzigingen Opslaan</button>
                         <div class="notification" ng-show="savedGerecht" class="notification-show-hide">note</div>
                     </div>
                 </div>
             </div>






             <div class="plannerToevoegen" ng-show="showModalAddPlanner">
                 <div class="popup">
                     <span class="close" ng-click="showModalAddPlanner = !showModalAddPlanner">x</span>
                     <div class="addDish">
                         <h3>1. Planner naam invoeren</h3>
                         <input type="text" ng-model="nieuwPlanner.name" placeholder="Week 1, Weekend, etc..." class="nameInputField" />

                         <p>
                             <h3>2. Gerechten selecteren</h3>
                             <input type="text" placeholder="Zoek een gerecht" class="searchAndAddField" ng-model="gerechtenLijst">
                             <button ng-click="showModalAddDish = !showModalAddDish">+</button>

                             <div class="ingredientenlijst">
                                 <label ng-repeat="gerecht in gerechten | filter:filterDish:gerechtenLijst:gerechten | orderBy:'gerecht.name'">
                                     <input ng-click="toggle(gerecht, 'gerechtPlanner')" type="checkbox"/>
                                     {{gerecht.name}}
                                 </label>
                             </div>
                         </p>
                     </div>

                     <div class="aside">
                         <h3>3. Resultaat bekijken</h3>
                         <h1>{{nieuwPlanner.name}}</h1>
                         <h4>Gerechten</h4>
                         <ol>
                             <li ng-repeat="item in selectedPlanner">
                                 {{item.name}}
                             </li>
                         </ol>

                         <button ng-click="getShoppingList()" ng-disabled="checkAddPlanner(nieuwPlanner)" class="gerechtToevoegenButton popup-boodschappenlijst">Maak een boodschappenlijst</button>
                         <button ng-click="addPlanner(nieuwPlanner)" ng-disabled="checkAddPlanner(nieuwPlanner)" class="gerechtToevoegenButton">Maak nieuwe planner</button>

                     </div>
                 </div>
             </div>





             <h1>
                 <a href="" ng-click="showModalAddDish = !showModalAddDish">Gerecht Toevoegen</a>
             </h1>
             <h1>
                 <a href="" ng-click="showModalAddPlanner = !showModalAddPlanner">Planner Toevoegen</a>
             </h1>

             <div>
                 <input type="text" ng-modal="generalSeach" placeholder="Zoeken..."/>
             </div>





            <div class="mainMenu gerechtMenu">
                <a href="" class="addToList" ng-click="showModalAddDish = !showModalAddDish">Gerecht Toevoegen</a>
                <a href ng-click="hideDishes = !hideDishes">
                    <h1>Gerechten</h1>
                </a>
                <ul class="dishUL" ng-hide="hideDishes">
                    <li ng-repeat="gerecht in gerechten">
                        <a ng-click="popUP(gerecht)">
                            <ul>
                                <li class="dishItemName">{{ gerecht.name }}</li>
                                <li class="ingredientCount">{{ gerecht.ingredienten.length }} ingredienten</li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
             <div class="mainMenu plannerMenu">
                 <a href="" ng-click="showModalAddPlanner = !showModalAddPlanner">Planner Toevoegen</a>
                 <a ng-click="hidePlanners = ! hidePlanners" href="">
                     <h1>Planners</h1>
                 </a>
                 <ul ng-show="hidePlanners">
                     <li ng-repeat="planner in planners">
                         <a ng-click="showPlannerDetails = ! showPlannerDetails" href="">{{ planner.name }}</a>
                         <ul>
                             <li ng-repeat="gerecht in planner.gerechten" ng-show="showPlannerDetails">
                                 {{gerecht.name}}
                             </li>
                         </ul>
                     </li>
                 </ul>
             </div>



        </div>
    </body>
</html>