html, body, .ng-scope, a {
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding:0px;
    color: #3F484A;
}

h1 {
    padding: 0px;
    margin: 0;
    color: #FFFFFF;
    text-shadow: 2px 2px #c1b9b9;
}

/* Header */
.header {
    min-height: 90px;
}

.header h1 {
    color: #E21969;
    padding-top: 25px;
}

.addDish, .aside {
    height: 520px;
    display:inline-block;
    vertical-align: top;
    background:lightgray;
    padding: 13px 13px;
    border-radius: 7px;
}
.addDish {
    width: 96%;
}
.aside {
    width: 96%;
    overflow-x: hidden;
    margin-top: 11px;
}
.gerechtToevoegen {
    z-index:2;
}
.gerechtToevoegen, .plannerToevoegen, .gerecht {
    background-color: rgba(26, 26, 26, 0.8);
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    z-index: 2;
}
.aside {
    background:lightgray;
}

.dishIngredientList li {
    list-style: none;
}

.dishIngredientList a {

}
.ingredientenlijst {
    font-size: 18px;
    height: 318px;
    overflow-x: hidden;
    background-color: rgba(255,255,255,0.5);
}
.ingredientenlijst label {
    padding: 6px;
    display: block;
}
.ingredientenlijst label:nth-child(even) {
    background: rgba(237, 237, 237, 0.15);

}
.ingredientenlijst label:nth-child(odd) {
    background: rgba(255, 255, 255, 0.42);
}
button {
    font-size:16px;
    font-weight:bold;
}
button[disabled] {
    color:lightgray;
}
.ingredientResult {
    font-size:20px;
}
.ingredientBlock {
    display: inline-block;
    border: 1px solid gray;
    padding: 3px 20px 3px 3px;
    margin: 3px;
}
.searchField, input[type=text] {
    padding: 8px;
    padding-left:12px;
    font-size: 18px;
    border-radius: 7px;
    background-color: hsla(0, 0%, 100%, 0.4);
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.2);
    border: none;
    margin-bottom: 5px;
    vertical-align: top;
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.2);
    width: 50px;
    height: 16px;
    padding-top: 12px;
}

.searchField, input:focus {
    outline:0;
}

.searchAndAddField {
    width: 289px; !important;
}

.nameInputField {
    width: 94%;
}

.addDish button {
    height: 42px;
    width: 41px;
    font-size: 50px;
    line-height: 36px;
    border: none;
    background: none;
    color: green;
    font-family: sans-serif;
    margin-left: -7px;
    margin: -4px 0px 0px 5px;
    cursor: pointer;
}
.addDish button:hover,
.addDish button:focus {
    color: #00a000;
    text-decoration: none;
    cursor: pointer;
    margin-bottom:2px;
}

.popup {
    background: white;
    width: 70%;
    margin: auto;
    box-shadow: 10px 7px 41px rgba(0,0,0, 0.2);
    border-radius: 7px;
    padding: 15px;
}

/* The Close Button */
.close {
    color: #470500;
    float: right;
    font-size: 34px;
    font-weight: bold;
    position: fixed;
    right: 14%;
    background-color: rgba(255,255,255,0.8);
    padding: 16px 11px 25px 10px;
    line-height: 0px;
    border-radius: 30px;
    box-shadow: 2px 2px 9px rgba(0,0,0, 0.5);
    margin-top: -31px;
    margin-right: -8px;
}

.close:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}
.listSearchWrapper {
    border:1px;
}
.gerechtToevoegenButton {
    height: 56px;
    border: none;
    width: 16%;
    border-radius: 8px;
    background-color: rgb(118, 200, 118);
    position: fixed;
    bottom: 0px;
    margin-bottom: -7px;
    right: 42%;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.gerechtToevoegenButton[disabled] {
    color: rgb(145, 145, 145);
    background-color: #bdbdbd;
    z-index:0;
}
.notification {
    height: 91px;
    width: 10%;
    position: relative;
    bottom: 0px;
    left: 45%;
    padding-top: 16px;
    margin-bottom: -35px;
    margin-left: -8px;

    background-color: rgba(255, 255, 255, 0.9);
    border: 8px #74c574 solid;
    border-radius: 16px;

    color: #76c876;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    z-index: 3;
    box-shadow: 10px 10px 36px rgba(0,0,0, 0.2);
    transition: all linear 1.5s;
}

.notification.ng-hide {
    opacity:0;
}

/* BoodschappenLijst */
.popup-boodschappenlijst {
    top: -15px;
    width: 236px;
    right: -15px;
    border-radius: 50px;
    height: 88px;
    padding-bottom: 0px;
    vertical-align: bottom;
}

.boodschappenLijst {
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #00A2E1;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.boodschappenLijst h1 {
    padding-top: 25px;
} 

.boodschappenLijst span {
    color:#393939;
}

.boodschappenLijst label {
    display:block;
    padding: 10px;
    font-size: 18px;

}

.boodschappenLijst label:nth-child(odd) {
    background: rgba(255, 255, 255, 0.72);
}

.boodschappenLijst label:nth-child(even) {
    background: rgba(255, 255, 255, 0.43);
}

.float-right {
    float: right;
}

input[type=checkbox]{
    background: green;
}

/* gerechtMenu */
.gerechtMenu {
    background-color: #0CBAC2;
    padding: 12px;
}

.dishUL ul {
    padding:0px;
}

.dishUL ul li {
    display:inline-block;
}

.dishUL > li {
    height: 50px;
    cursor: pointer;
}

.dishUL > li:nth-child(odd){
    background: rgba(255, 255, 255, 0.72);
}

.dishUL > li:nth-child(even){
    background: rgba(255, 255, 255, 0.43);
}

/* plannerMenu */
.plannerMenu {
    background-color: #FFCC34;
}

.plannerMenu > ul {
    padding-top: 0;
}

.plannerMenu > ul > li:nth-child(odd) {
    background: rgba(255, 255, 255, 0.72);
}

.plannerMenu > ul > li:nth-child(even) {
    background: rgba(255, 255, 255, 0.43);
}

/* Main menu */
.mainMenu h1 {
    text-decoration: none;
}

.mainMenu a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.mainMenu .title {
    width: 92%;
}

.mainMenu .add {
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: 2px 2px #b7abab;
}

.mainMenu > ul >li {
    color: #593a00;
    text-decoration: none;
    background-color: orange;
    padding: 5px;
}
.mainMenu > ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    max-height: 322px;
    overflow: scroll;
    margin-top: 12px;
}

.ingredientCategory {
    background-repeat: no-repeat;
    background-position: right 10px top 6px;
    font-size: 22px;
}
.ingredientCategory h3 {
    padding: 16px;
    margin: 0px;
}
.categoryVeg{
    background-color:#429867;
    background-image:url('img/ingrCategories/vegetable.png');
}
.categoryFish {
    background-color:#fab243;
    background-image:url('img/ingrCategories/fish.png');
}
.categoryDairy {
    background-color:#2b5166;
    background-image:url('img/ingrCategories/dairy.png');
}
.categoryMeat {
    background-color:#e02130;
    background-image:url('img/ingrCategories/meat.png');
}
.categoryFruit {
    background-color:#482344;
    background-image:url('img/ingrCategories/fruit.png');
}
.categoryOther {
    background-color:#b6b6b6;
    background-image:url('img/ingrCategories/other.png');
}

.dishUL .ingredientCount {
    padding: 17px;
    float:right;
}

.dishItemName {
    font-size: 22px;
    padding: 12px;
}

.dishImage {
    float:right;
    background-image:url('img/dishPhotos/dummy.jpg');
    height: 300px;
    width: 300px;
    border-radius: 50px;
}

.aside h1 {
    margin-top:0px;
}

.ingredientsTable {
    width:100%;
    border-collapse: collapse;
}

.ingredientsTable > tbody > tr > td {
    width:55%;
}

.ingredientsTable > tbody > tr > td {
    padding: 4px;
    padding-left: 17px;
}
.ingredientsTable input, .ingredientsTable .unit  {
    display:inline-block;
    vertical-align: middle;
}
.ingredientsTable > tbody > tr:nth-child(even) {
    background-color:rgba(255, 255, 255, 0.6);;
}

.ingredientsTable > tbody > tr:nth-child(odd) {
    background-color:rgba(255, 255, 255, 0.35);;
}

/* Media queries */
@media (max-width: 600px), (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .gerechtToevoegen, .plannerToevoegen, .gerecht {
        padding-top: 17px;
    }
    .popup {
        width: 90%;
        border-radius: 7px;
        padding: 0px;
        height:90%;
    }
    .close {
        font-size: 25px;
        right: 9px;
        top: 32px;
        padding: 16px 11px 17px 10px;
    }
    .addDish, .aside {
        height: 91%;
    }
    .dishImage {
        height: 33%;
        width: 33%;
        border-radius: 50px;
        max-height: 103px;
    }
    .aside {
        width: 92%;
        overflow-x: hidden;
        margin-top: 0px;
    }
    .gerechtToevoegenButton {
        width: 80%;
        bottom: 3px;
        left: 10%;
    }
}
@media (min-width: 601px) and (max-width: 1000px) {

}

.shoppingList {
    padding: 12px;
}

.groceryBtn-container {
    background-image: url('img/menuIcons/groceries.png');
    width: 43px;
    height: 69px;
    background-repeat: no-repeat;
    background-position: right;
    position: fixed;
    right: 7px;
    top: 7px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}
.filterListBtn-container {
    background-image: url('img/menuIcons/filterBtn.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: right;
    position: fixed;
    right: 7px;
    bottom: 7px;
    cursor: pointer;
    z-index: 1;
}
.filterListBtn-container h1 {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: black;
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.42)
}
.filterList {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 60%;
    background-color: rgba(33, 145, 210, 0.82);
    height: 60%;
    padding: 12px;
}
.filterList h1{
    color: black;
    font-size: 24px;
    text-shadow: none;
}
.filterList > ul{
    list-style: none;
    padding: 0px;
}

.filterList > ul > li {
    padding: 6px;
    height: 30px;
    padding-top: 20px;
    padding-left: 78px;
    font-weight: bold;
    font-size: 18px;
}
.groceryBtn-container h1 {
    text-align: center;
    font-size: 20px;
    padding-top: 31px;
    color: #464646;
    margin: 0px;
    padding-bottom: 14px;
}
.groceryBtn-container a {
    width:100%;
    height:100%;
}
.groceryBtn {
    margin: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
}
.groceryBtn h1 {
    margin:0px;
}
.infotext {
    color: #5a5a5a;
    padding: 60px 60px;
}

.labelDisable {
    background-color: rgb(242, 242, 242) !important;
    color: #d1d1d1 !important;
    background-image:url('img/checkmark.png') !important;
    background-repeat: no-repeat !important;
    background-position: 6px 5px !important;
}

.favorite {
    background-image:url('img/menuIcons/fav.png');
    background-repeat: no-repeat;
    background-position: 6px 5px;
}
.veggie {
    background-image:url('img/menuIcons/veg.png');
    background-repeat: no-repeat;
    background-position: 6px 5px;
}
.recent {
    background-image:url('img/menuIcons/recent.png');
    background-repeat: no-repeat;
    background-position: 6px 5px;
}