/* Theme */
:root {
    --blue: #55708B;
    --dark-blue: #343A4A;
    --green: #A3CAB5;
    --beige: #EBD592;
    --purple: #4F2621;
    --red: #C5302A;
    --white: #FFFFFF;
}

/* Main */
html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    color: var(--dark-blue);
}

.ng-scope,
a {
    color: var(--white);
    text-decoration: none;
}

h1,
h2 {
    padding: 0px;
    margin: 0;
    color: var(--white);
}

h2 {
    font-weight: normal;
    font-size: 1.3rem;
    cursor: pointer;
}

h3 {
    margin: 0px;
    margin: 4px 0px 12px 0px;
}

ul {
    background-color: var(--red);
    margin: 0;
    padding: 20px;
    border-top: 1px solid var(--white);
}

ul li a {
    color: var(--white);
}

ul li a:before {
    content: "\003E";
}

ul li {
    list-style-type: none;
}

ol li {
    list-style-type: circle;
}

/* Header */
.header {
    min-height: 70px;
}

.header h1 {
    color: var(--dark-blue);
    padding-left: 12px;
}

.addDish, .aside {
    background-color: var(--blue);
    display:inline-block;
    vertical-align: top;
    padding: 13px 13px;
    /*border-radius: 7px;*/
}
.addPlanner {
    background: #ffcc34;
}
.addDish {
    width: 86%;
    margin: 4%;
}
.aside {
    width: 86%;
    margin: 4%;
    overflow-x: hidden;
    margin-top: 11px;
}
.gerechtToevoegen {
    z-index:2;
}
.gerechtToevoegen, .plannerToevoegen, .gerecht {
    background-color: rgba(26, 26, 26, 0.8);
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    z-index: 3;
    overflow: scroll;
}
.aside {
    /*background: #ffcc34;*/
}

.addDish p {
    margin-bottom: -4px;
}

.dishIngredientList li {
    list-style: none;
}

.dishIngredientList a {

}
.ingredientenlijst {
    font-size: 18px;
    height: 255px;
    overflow-x: hidden;
    background-color: rgba(255,255,255,0.5);
}
.ingredientenlijst label {
    padding: 6px;
    display: block;
}
.ingredientenlijst label:nth-child(even) {
    background: rgba(237, 237, 237, 0.15);

}
.ingredientenlijst label:nth-child(odd) {
    background: rgba(255, 255, 255, 0.42);
}
button {
    font-size:16px;
    font-weight:bold;
}
button[disabled] {
    color:lightgray;
}
.ingredientResult {
    font-size:20px;
}
.ingredientBlock {
    display: inline-block;
    border: 1px solid gray;
    padding: 3px 20px 3px 3px;
    margin: 3px;
}
.searchField {
    position: fixed;
    top: 17px;
    width: 74%;
    left: 9%;
    font-size: 22px;
    padding: 19px;
    box-shadow: rgba(63, 63, 63, 0.5) 3px 2px 15px;
}
.searchField, input[type=text] {
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.2);
    border: none;
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.2);
    padding: 12px 0px 8px 12px;
}

.searchField, input:focus {
    outline:0;
}

.searchAndAddField {
    width: 92% !important;
    margin: 2%;
    font-size: 18px;
    padding: 8px !important;
}

.nameInputField {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0%;
    font-size: 18px;
    padding: 10px 12px !important;
    box-shadow: rgba(63, 63, 63, 0.5) 3px 2px 15px !important;
}

.addDish button {
    height: 34px;
    width: 100%;
    font-size: 50px;
    line-height: 33px;
    border: none;
    background: none;
    font-family: sans-serif;
    cursor: pointer;
    color: #026102;
    border: none;
}
.addDish button:hover,
.addDish button:focus {
    color: #00a000;
    text-decoration: none;
    cursor: pointer;
    margin-bottom:2px;
}

.popup {
    background: white;
    width: 70%;
    margin: auto;
    box-shadow: 10px 7px 41px rgba(0,0,0, 0.2);
    border-radius: 7px;
    padding: 15px;
}

/* The Close Button */
.close {
    color: #470500;
    float: right;
    font-size: 34px;
    font-weight: bold;
    position: fixed;
    right: 14%;
    background-color: rgba(255,255,255,0.8);
    padding: 16px 11px 25px 10px;
    line-height: 0px;
    border-radius: 30px;
    box-shadow: 2px 2px 9px rgba(0,0,0, 0.5);
    margin-top: -31px;
    margin-right: -8px;
    z-index: 999;
}

.close:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}
.listSearchWrapper {
    border:1px;
}

.notification {
    height: 91px;
    width: 10%;
    position: relative;
    bottom: 0px;
    left: 45%;
    padding-top: 16px;
    margin-bottom: -35px;
    margin-left: -8px;

    background-color: rgba(255, 255, 255, 0.9);
    border: 8px #74c574 solid;
    border-radius: 16px;

    color: #76c876;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    z-index: 3;
    box-shadow: 10px 10px 36px rgba(0,0,0, 0.2);
    transition: all linear 1.5s;
}

.notification.ng-hide {
    opacity:0;
}

/* BoodschappenLijst */
.popup-boodschappenlijst {
    top: -15px;
    width: 236px;
    right: -15px;
    border-radius: 50px;
    height: 88px;
    padding-bottom: 0px;
    vertical-align: bottom;
}

.boodschappenLijst {
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: var(--green);
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 2;
}

.boodschappenLijst h1 {
    padding-top: 25px;
    padding-left: 12px;
} 

.boodschappenLijst span {
    color:#393939;
}

.boodschappenLijst label {
    display:block;
    padding: 10px;
    font-size: 18px;

}

.boodschappenLijst label:nth-child(odd) {
    background: rgba(255, 255, 255, 0.72);
}

.boodschappenLijst label:nth-child(even) {
    background: rgba(255, 255, 255, 0.43);
}

.float-right {
    float: right;
}

input[type=checkbox]{
    background: green;
}

/* gerechtMenu */
.gerechtMenu {
    background-color: var(--blue);
}

.dishUL ul {
    padding:0px;
}

.dishUL ul li {
    display:inline-block;
}

.dishUL > li {
    height: 50px;
    cursor: pointer;
}

.dishUL > li:nth-child(odd){
    background: rgba(255, 255, 255, 0.72);
}

.dishUL > li:nth-child(even){
    background: rgba(255, 255, 255, 0.43);
}

/* plannerMenu */
.plannerMenu {
    background-color: var(--red);
}

.plannerMenu > ul {
    padding-top: 0;
}

.plannerMenu > ul > li:nth-child(odd) {
    background: rgba(255, 255, 255, 0.72);
}

.plannerMenu > ul > li:nth-child(even) {
    background: rgba(255, 255, 255, 0.43);
}

/* Main menu */
.mainMenu {
    padding: 12px;
}
.mainMenu h1 {
    text-decoration: none;
}

.mainMenu a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.mainMenu .title {
    width: 92%;
}

.mainMenu .add {
    font-size: 2rem;
    color: #FFFFFF;
}

.mainMenu > ul >li {
    color: #593a00;
    text-decoration: none;
    background-color: orange;
    padding: 5px;
}
.mainMenu > ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 12px;
}

.ingredientCategory {
    background-repeat: no-repeat;
    background-position: right 6px top 6px;
    font-size: 22px;
}
.ingredientCategory h3 {
    padding: 4px 16px;
    margin: 0px;
}
.categoryVeg{
    background-color:#429867;
    background-image:url('img/ingrCategories/vegetable.png');
}
.categoryFish {
    background-color: #ffcc34;
    background-image:url('img/ingrCategories/fish.png');
}
.categoryDairy {
    background-color:#2b5166;
    background-image:url('img/ingrCategories/dairy.png');
}
.categoryMeat {
    background-color:#e02130;
    background-image:url('img/ingrCategories/meat.png');
}
.categoryFruit {
    background-color:#482344;
    background-image:url('img/ingrCategories/fruit.png');
}
.categoryOther {
    background-color:#b6b6b6;
    background-image:url('img/ingrCategories/other.png');
}

.dishUL .ingredientCount {
    padding: 17px;
    float:right;
}

.dishItemName {
    font-size: 22px;
    padding: 12px;
}

.dishImage {
    float:right;
    background-image:url('img/dishPhotos/dummy.jpg');
    height: 300px;
    width: 300px;
    border-radius: 50px;
}

.aside h1 {
    margin-top:0px;
}

.ingredientsTable {
    width:100%;
    border-collapse: collapse;
}

.ingredientsTable > tbody > tr > td {
    width:55%;
}

.ingredientsTable > tbody > tr > td {
    padding: 4px;
    padding-left: 17px;
}
.ingredientsTable input, .ingredientsTable .unit  {
    display:inline-block;
    vertical-align: middle;
}
.ingredientsTable > tbody > tr:nth-child(even) {
    background-color:rgba(255, 255, 255, 0.6);;
}

.ingredientsTable > tbody > tr:nth-child(odd) {
    background-color:rgba(255, 255, 255, 0.35);;
}

/* Media queries */
@media (max-width: 600px), (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .gerechtToevoegen, .plannerToevoegen, .gerecht {
        padding-top: 17px;
    }
    .popup {
        width: 95%;
        border-radius: 7px;
        padding: 0px;
        margin-bottom: 28px;
    }
    .close {
        font-size: 25px;
        right: 9px;
        top: 32px;
        padding: 16px 11px 17px 10px;
    }
    .dishImage {
        height: 33%;
        width: 33%;
        border-radius: 50px;
        max-height: 103px;
    }
    .aside {
        overflow-x: hidden;
        margin-top: 0px;
    }
}
@media (min-width: 601px) and (max-width: 1000px) {

}

.shoppingList {
    padding: 12px;
    padding-bottom: 54px;
}

.groceryBtn-container {
    background-image: url('img/menuIcons/shopping-cart.png');
    width: 43px;
    height: 69px;
    background-repeat: no-repeat;
    background-position: right;
    right: 9px;
    top: 7px;
    cursor: pointer;
    z-index: 3;
    text-align: center;
    position: absolute;
}
.filterListBtn-container {
    background-image: url('img/menuIcons/filterBtn.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: right;
    position: fixed;
    right: 7px;
    bottom: 7px;
    cursor: pointer;
    z-index: 2;
}
.filterListBtn-container h1 {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: black;
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.42)
}
.filterList {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 60%;
    background-color: rgba(33, 145, 210, 0.82);
    height: 60%;
    padding: 12px;
    z-index: 1;
}
.filterList h1{
    color: black;
    font-size: 24px;
    text-shadow: none;
}
.filterList > ul{
    list-style: none;
    padding: 0px;
}

.filterList > ul > li {
    padding: 6px;
    height: 30px;
    padding-top: 20px;
    padding-left: 78px;
    font-weight: bold;
    font-size: 18px;
}
.groceryBtn-container h1 {
    text-align: center;
    font-size: 15px;
    padding-top: 31px;
    color: #FFF;
    margin: 0px;
    padding-bottom: 14px;
    position: absolute;
    top: -12px;
    left: 15px;
}
.groceryBtn-container a {
    width:100%;
    height:100%;
}
.groceryBtn {
    margin: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
}
.groceryBtn h1 {
    margin:0px;
}
.infotext {
    color: #5a5a5a;
    padding: 60px 60px;
}

.labelDisable {
    background-color: rgb(242, 242, 242) !important;
    color: #d1d1d1 !important;
    background-image:url('img/checkmark.png') !important;
    background-repeat: no-repeat !important;
    background-position: 6px 5px !important;
}

.favorite {
    background-image:url('img/menuIcons/fav.png');
    background-repeat: no-repeat;
    background-position: 6px 5px;
}
.veggie {
    background-image:url('img/menuIcons/veg.png');
    background-repeat: no-repeat;
    background-position: 6px 5px;
}
.recent {
    background-image:url('img/menuIcons/recent.png');
    background-repeat: no-repeat;
    background-position: 6px 5px;
}
.plannerHeader a {
    font-size: 16px;
    line-height: 30px;
}
.plannerHeader > ol > li {

}
.addToGroceries {
    position: relative;
    right: 0px;
    bottom: 0px;
    background-image: url('img/menuIcons/shopping-cart-add.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
}

.listMenu {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: var(--green);
}

.listMenu button {
    width: 40%;
    display: inline-block;
    padding: 0%;
    height: 40px;
    margin: 2%;
    color: var(--dark-blue);
    background-color: var(--blue);
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 6px;
    border-radius: 7px;
}

.listMenu button:hover {
    background-color: rgba(85, 112, 139, .7);
}

.showAll {
    background: none !important;
}

.showAll a {
    font-weight: bold;
    padding-top: 12px;
    font-size: 16px;
}

.searchListInput {
    width: 94% !important;
}

.addButton {
    width: 58%;
    padding: 6px 0px;
}



.buttonConfirm {
    color: gray;
    font-size: 18px;
    margin-top: 5px;
    padding-left: 31px !important;
}